@model Learnix.Infrastructure.Email.Models.PasswordResetModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = Model.Strings["PasswordReset_Subject"].Value;
}

<h1 class="email-heading">@string.Format(Model.Strings["PasswordReset_Greeting"], Model.FirstName)</h1>
<p class="email-text-lg">
    @Model.Strings["PasswordReset_Body"]
</p>
<table cellpadding="0" cellspacing="0" class="email-button-container">
    <tr>
        <td class="email-button-bg">
            <a href="@Model.ResetLink" class="email-button">
                @Model.Strings["PasswordReset_Button"]
            </a>
        </td>
    </tr>
</table>
<p class="email-text-sm">@Model.Strings["PasswordReset_FallbackText"]</p>
<p style="margin:0;word-break:break-all;">
    <a href="@Model.ResetLink" class="email-link-sm">@Model.ResetLink</a>
</p>
<br/>
<p class="email-text-sm">@Model.Strings["PasswordReset_IgnoreNotice"]</p>
